   
        #imgHome{
            position: relative;
            width:99%;
            opacity: 80%;
        }
        body {
            background-color: rgb(214, 214, 156);
            
        }